:root {
  --azulOscuro: #0a3871;
  --azulClaro: #f3f5fc;
  --grisClaro: #d8dfe8;
  --grisLigero: #e5e5e5;
  --grisOscuro: #495057;
  --blanco: #ffffff;
  --negro: #000000;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 16px;
}

.contenedor-logo {
  margin: 5rem;
}

.contenedor-botones-principales {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
}

.botones-inicio {
  display: block;
  padding: 3rem;
  border-radius: 2.4rem;
  border: 1px solid var(--azulOscuro);
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.botones-inicio:first-child {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  margin-bottom: 2rem;
}

.botones-inicio:last-child {
  background-color: var(--blanco);
  color: var(--azulOscuro);
}

@media (min-width: 768px) {
  .botones-inicio:first-child {
    width: 32rem;
  }

  .botones-inicio:last-child {
    width: 28rem;
  }
}
