:root {
  --azulOscuro: #0a3871;
  --azulClaro: #f3f5fc;
  --grisClaro: #d8dfe8;
  --grisLigero: #e5e5e5;
  --grisOscuro: #495057;
  --blanco: #ffffff;
  --negro: #000000;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: var(--azulClaro);
  font-family: "Inter", sans-serif;
}

.contenedor-logo {
  margin: 5rem;
}

.contenedor-botones-principales {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
}

.boton {
  display: block;
  padding: 3rem;
  border-radius: 2.4rem;
  border: 1px solid var(--azulOscuro);
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.contenedor-botones-principales a {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  margin-bottom: 2rem;
}

.boton:last-child {
  background-color: var(--blanco);
  color: var(--azulOscuro);
}

@media (min-width: 768px) {
  .contenedor-botones-principales a {
    width: 32rem;
  }

  .boton:last-child {
    width: 28rem;
  }
}
.contenedor-palabra-modificada {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem;
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .contenedor-palabra-modificada {
    height: auto;
    width: 60rem;
  }
}

.palabra-nueva {
  border: none;
  font-size: 3.2rem;
  background-color: var(--azulClaro);
  margin-left: 2rem;
  resize: none;
  height: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .palabra-nueva {
    margin-bottom: 20rem;
  }
}

.palabra-nueva::placeholder {
  color: var(--azulOscuro);
}

.contenedor-palabra-modificada a,
.contenedor-palabra-modificada button {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  margin-bottom: 2rem;
}
.contenedor-palabra-modificada button:hover {
  cursor: pointer;
}
.advertencia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .advertencia {
    margin: 0;
  }
}
.advertencia img {
  margin-bottom: 0.2rem;
}
.advertencia p {
  color: var(--grisOscuro);
}

@media (min-width: 768px) {
  .contenedor-palabra-modificada
    .contenedor-botones-advertencia
    .contenedor-botones {
    display: flex;
    flex-direction: row;
  }
}

.contenedor-palabra-modificada .boton {
  width: 95%;
  padding: 2.4rem;
}

@media (min-width: 768px) {
  .contenedor-palabra-modificada .boton {
    width: 33.2rem;
    margin: 0 1rem;
  }
}

/** nuevojuego.html **/
.contenedor-juego {
  height: 70rem;
}
.canva-ahorcado {
  height: 80%;
  width: 100%;
  /* background-color: red; */
}
.lineas-letras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
@media (min-width: 768px) {
  .lineas-letras {
    width: 50%;
  }
}
.contenedor-letra-linea {
  text-align: center;
  line-height: 0;
  height: 5rem;
  /* margin-bottom: 1rem;
  margin-right: 1rem; */
  margin: 0 0.3rem 1rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .contenedor-letra-linea {
    /* margin: 0 1rem 0 1rem; */
    gap: 1;
    /* margin-right: 1rem; */
    margin-top: 0;
    margin-bottom: 0;
  }
}
.lineas {
  width: 4rem;
  height: 0.4rem;
  background-color: var(--azulOscuro);
}
.letras-erroneas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

.letra-erronea {
  margin-right: 1rem;
}
.contenedor-juego .contenedor-botones {
  display: block;
}
@media (min-width: 768px) {
  .contenedor-juego .contenedor-botones {
    display: flex;
  }
}

/* Canva */
